@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos ao SIGA!</h1>
    <h2 class="display-6">Sistema de Gerenciamento de Alunos</h2>
</div>
